/*style.css*/
body {
  font-family: "PTSansNarrowBold",
  "PTSansNarrow",
  "PTSansNarrowRegular"
}

.caption {
  font-family: "PTSansNarrowBold";
  color: #000000;
  line-height: 42pt;
  font-size: 30pt;
  font-style: bold;
}

.features-caption {
  font-family: "PTSansNarrowBold";
  color: #f7f4f1;
  line-height: 42pt;
  font-size: 30pt;
  font-style: bold;
}
